<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/webjars/materializecss/0.97.7/css/materialize.min.css"
          media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>T Player</title>
</head>

<body>
<nav>
    <div class="nav-wrapper">
        <div class="container"><a href="/" class="brand-logo">Download</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/browse">Browse</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div data-layout-fragment="content">
        <h1>Torrent Player</h1>
        <div class="card-panel hoverable">
            <form action="/upload" enctype="multipart/form-data" method="post">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Upload
                </button>
            </form>
        </div>
        <div class="card-panel">
            <table>
                <thead>
                <tr>
                    <th data-field="command">Command</th>

                    <th data-field="name">Name</th>
                    <th data-field="status">Status</th>
                    <th data-field="progress">Progress Bar</th>
                    <th data-field="progress">Progress</th>

                </tr>
                </thead>

                <tbody data-th-remove="all-but-first">
                <tr data-th-each="l : ${list}">
                    <td>
                        <a data-th-if="!${l.running}" data-th-href="@{/resume/{id}(id=${l.id})}"
                           class="waves-effect waves-light btn"><i
                                class="material-icons left">play_arrow</i>Resume</a>
                        <a data-th-if="${l.running}" data-th-href="@{/pause/{id}(id=${l.id})}"
                           class="waves-effect waves-light btn"><i
                                class="material-icons left">pause</i>Pause</a>
                    </td>
                    <td data-th-text="${l.name}">Alvin</td>
                    <td data-th-text="${l.running} ? 'Running' : 'Paused'"></td>
                    <td>
                        <div class="progress">
                            <div class="determinate" style="width: 70%"
                                 data-th-style="'width:' + ${l.progress} + '%'"></div>
                        </div>
                    </td>
                    <td class="right-align" data-th-text="${l.progress} + '%'">Eclair</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/webjars/materializecss/0.97.7/js/materialize.min.js"></script>
</body>
</html>